<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:theme="@style/Theme.QSBoundlessTiles">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ContentProvider for cross-process preference sharing -->
        <provider
            android:name=".prefs.PrefsProvider"
            android:authorities="eu.hxreborn.qsboundlesstiles.prefs"
            android:exported="true"
            android:grantUriPermissions="true" />

    </application>

</manifest>
